body {
  font: 10px sans-serif;
  overflow-x: hidden;
  font-family: 'Arimo', sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #d8d8d8;
  shape-rendering: crispEdges; }

#viz {
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  width: 100vw;
  grid-template-columns: 5vw 60vw 3vw 25vw 5vw;
  grid-template-rows: 80vh 10vh; }
  @media (max-device-width: 568px) and (min-device-width: 320px) {
    #viz {
      grid-template-columns: 100vw !important;
      grid-template-rows: 35vh 50vh 8vh !important; } }
  @media (max-width: 820px) and (orientation: portrait) {
    #viz {
      grid-template-columns: 100vw;
      grid-template-rows: 30vh 50vh 10vh; } }
  @media (min-width: 2000px) {
    #viz {
      grid-template-columns: 10vw 50vw 5vw 20vw 10vw; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #viz {
      grid-template-columns: 100vw;
      grid-template-rows: 30vh 50vh 10vh; } }

#sidebar {
  padding-top: 5px;
  grid-column: 4/5;
  grid-row: 1/2; }
  @media (max-width: 820px) and (orientation: portrait) {
    #sidebar {
      grid-column: 1/2;
      width: 80vw;
      margin-left: calc(10vw - 10px) !important;
      margin-top: 20px; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #sidebar {
      grid-column: 1/2;
      width: 80vw;
      margin-left: calc(10vw + 50px);
      margin-top: 100px; } }

#slider {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3; }
  @media (max-width: 820px) and (orientation: portrait) {
    #slider {
      width: 80vw;
      margin-left: calc(10vw - 10px) !important;
      grid-row: 3/4;
      grid-column: 1/2; } }
  @media (max-width: 820px) and (orientation: landscape) {
    #slider {
      margin-top: 10px; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #slider {
      width: 80vw;
      margin-left: calc(10vw + 50px) !important;
      grid-row: 3/4;
      grid-column: 1/-1; } }

#animation {
  cursor: pointer;
  width: 30px;
  position: absolute;
  left: -50px;
  top: 5px; }

#chart {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  max-height: calc(100% - 50px); }
  @media (max-width: 820px) and (orientation: portrait) {
    #chart {
      width: 80vw;
      margin-left: calc(10vw - 10px) !important;
      grid-row: 2/3;
      grid-column: 1/-1; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #chart {
      width: 80%;
      margin-left: 10%;
      grid-row: 2/3;
      grid-column: 1/-1; } }

.d3-tip {
  line-height: 1;
  font: 14px sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #b9b9b9;
  border-radius: 2px; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center; }

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0; }

#tickmarks {
  display: inline;
  font-size: 12px; }

.tickmarks {
  position: absolute;
  float: right;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

path {
  stroke: #adadad;
  stroke-width: 2px;
  fill: none; }

.radioLabels {
  font-weight: 400;
  font-size: 14px;
  color: grey; }
  @media (min-width: 2000px) {
    .radioLabels {
      font-size: 25px; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .radioLabels {
      font-size: 20px; } }

#filter {
  margin-top: 50px;
  margin-left: 5%; }
  @media (max-width: 820px) {
    #filter {
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media (min-width: 2000px) {
    #filter {
      font-size: 25px;
      margin-top: 50px; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #filter {
      margin-top: 50px;
      font-size: 20px; } }

#hint1 {
  font-size: 12px;
  font-weight: 400;
  fill: #4d4d4d; }
  @media (max-width: 820px) and (orientation: portrait) {
    #hint1 {
      display: none; } }

#bigYearLabel {
  font-size: 65px;
  font-weight: 800;
  fill: #adadad; }
  @media (max-device-width: 568px) and (min-device-width: 320px) {
    #bigYearLabel {
      font-size: 30px !important; } }
  @media (max-width: 820px) {
    #bigYearLabel {
      font-size: 40px; } }
  @media (min-width: 2000px) {
    #bigYearLabel {
      font-size: 90px; } }

input[type="radio"] {
  margin: 10px 3px 0 0; }

input[type="range"] {
  cursor: pointer; }

#regions {
  margin-left: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%; }
  @media (max-width: 820px) and (orientation: portrait) {
    #regions {
      display: grid;
      grid-template-columns: 50% 50%; } }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #regions {
      display: grid;
      grid-template-columns: 50% 50%; } }

text.label {
  font-size: 12px; }

.rad {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  margin: 10px 3px 0 0; }
  @media (min-width: 2000px) {
    .rad {
      margin: 20px 3px 0 0; } }

.rad > input {
  visibility: hidden;
  position: absolute; }

.rad > i {
  /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #fff;
  border: 3px solid gray; }

.rad > input:checked + i {
  box-shadow: inset 0 0 0 3px #fff;
  background: orange; }

/*# sourceMappingURL=styles.css.map */
